<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Report</title>
    <style>
        /* Set full width for the map */
        html {
            font-size: 10px;
        }

        #map {
            padding-top: 10px;
            text-align: center;
        }

        #map img {
            max-width: 100%;
            max-height: 550px;
        }

        #map2 img {
            max-width: 100%;
            max-height: 600px;
        }

        .container {
            display: flex;
            justify-content: space-between;
            height: 120px;
            padding: 20px;
        }

        .box {
            width: 150px;
            height: 100px;
            font-size: 0.9em;
            text-align: center
        }

        .mainTitle {
            padding: 1px 0px;
            text-align: center;
        }


        .page-break {
            page-break-before: always;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 2px 8px;
            text-align: left;
        }

        th {
            background-color: darkred;
            color: white;
        }

        @media print {
            @page landscape {
                size: landscape;
            }

            .landscape {
                page: landscape;
            }
        }
    </style>
</head>
<body>
<div id="page1">
    <div class="container">
        <div class="box">
            REPUBLIQUE DU CAMEROUN <br/>
            Paix – Travail - Patrie <br/>
            ---------------<br/>
            MINISTERE DE LA SANTE PUBLIQUE<br/>
            ------------------<br/>
            PROGRAMME ELARGI DE VACCINATION<br/>
            ------------------
        </div>
        <div class="box">
            <img src="references/logo.png" style="width:100px">
        </div>
        <div class="box">
            REPUBLIC OF CAMEROON<br/>
            Peace – Work – Fatherland<br/>
            ---------------<br/>
            MINISTRY OF PUBLIC HEALTH <br/>
            ------------------<br/>
            EXPANDED PROGRAMME ON IMMUNIZATION<br/>
            ------------------
        </div>

    </div>
    <div style="background-color: darkred; color:white;" class="mainTitle"><h4>CAMPAGNE DE VACCINATION CONTRE LA
        ROUGEOLE ET RUBEOLE MAI 2023</h4></div>
    <div class="mainTitle"><h4>MICROPLAN</h4></div>
    <div>

        <table>
            <tr>
                <td style="text-align: right;">Date de mise à jour</td>
                <td><strong>{{ date_str }}</strong></td>
            </tr>
            <tr>
                <td style="text-align: right;">Région</td>
                <td><strong>{{data.as.parent.parent.name}}</strong></td>
            </tr>
            <tr>
                <td style="text-align: right;">District</td>
                <td><strong>{{data.as.parent.name}}</strong></td>
            </tr>
            <tr>
                <td style="text-align: right;">Aire de santé</td>
                <td><strong>{{data.as.name}}</strong></td>
            </tr>
            <tr>
                <td style="text-align: right;">FORMATION SANITAIRE LEADER</td>
                <td><strong>{{data.fosa_leader_instance.org_unit.name}}</strong></td>
            </tr>
            <tr>
                <td style="text-align: right;">NOM DU RESPONSABLE DE L'AIRE DE SANTE</td>
                <td><strong>{{data.fosa_leader_instance.file_content.responsable_fosa}}</strong></td>
            </tr>
            <tr>
                <td style="text-align: right;">CONTACT DU RESPONSABLE DE L'AIRE</td>
                <td><strong>{{data.fosa_leader_instance.file_content.tel_responsable_fosa}}</strong></td>
            </tr>
            <tr>
                <td style="text-align: right;">NOMBRE DE FORMATION SANITAIRE</td>
                <td><strong>{{count_fosa}}</strong></td>
            </tr>
            <tr>
                <td style="text-align: right;">NOMBRE DE LOCALITES DANS L'AIRE DE SANTE</td>
                <td><strong>{{count_localite}}</strong></td>
            </tr>
            <tr>
                <td style="text-align: right;">DISTANCE DE LA FORMATION SANITAIRE LEADER AU SERVICE SANTÉ DE DISTRICT
                    (km)
                </td>
                <td><strong></strong></td>
            </tr>
        </table>
    </div>
    <!--<div id="map">
        <img src="{{ image_path }}">
    </div>-->
</div>
<div class="page-break"></div>
<div id="page2">
    <h4>Formations Sanitaires</h4>
    <table>
        <thead>
        <tr>
            <th>N°</th>
            <th>FORMATION SANITAIRE</th>
            <th>Distance par rapport à ka FOSA leader</th>
            <th>Catégorie</th>
            <th>Type</th>
            <th>Offre les services de vaccination (Oui/Non)</th>
            <th>Nom du Responsable</th>
            <th>Tel contact</th>
        </tr>
        </thead>
        <tbody>
        {% for fosa in data.fosas %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{fosa.name}}</td>
            <td>{{fosa.donnees_fosa.distance_fosa_ssd}}</td>
            <td>{{fosa.donnees_fosa.type_acces_ssd}}</td>
            <td>{{fosa.donnees_fosa.statut_fosa}}</td>
            <td>{{fosa.donnees_fosa.fosa_vaccine}}</td>
            <td>{{fosa.donnees_fosa.responsable_fosa}}</td>
            <td>{{fosa.donnees_fosa.tel_responsable_fosa}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div id="page3" class="landscape">
    <h4>OUTIL 1b: LISTE DES LOCALITES</h4>
    <table>
        <thead>
        <tr>
            <th colspan="8"></th>
            <th colspan="5">Lieux regroupement</th>
        </tr>
        </thead>
        <thead>

        <tr>
            <th>N°</th>
            <th>Localités (Village/Hameaux/Camps de réfugiés/Quartiers/Blocs/Campements, etc.)</th>
            <th>Distance à la FOSA qui vaccine la plus proche.</th>
            <th>Localité de haute attention (oui/non)</th>
            <th>Raison de priorisation</th>
            <th>Population Totale</th>
            <th>Pop. Cible (9mois-59 mois)</th>
            <th>Marchés</th>
            <th>Ecoles primaires, maternelles et coraniques)</th>
            <th>Eglises /Mosquées</th>
            <th>Points de passage</th>
        </tr>
        </thead>
        <tbody>
        {% for localite in data.localites %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{localite.name}}</td>
            <td></td>
            <td>{{localite.microplan.localite_haute_tension}}</td>
            <td>{{localite.microplan.raison_haute_attention}}</td>
            <td>{{localite.microplan.population_denombre| int}}</td>
            <td>{{((localite.microplan.population_polio_0_59 |int) * 0.83 )| int}}</td>
            <td>{% for marche in localite.microplan.marche_localite%} {{marche.nom_marche}} {% endfor %}</td>
            <td>
                {% for ecole in localite.microplan.ecole_primaire_publique%}
                {{ecole.nom_ecole_primaire_publique}}-{{ecole.contact_ecole_primaire_publique}}-{{ecole.responsible_ecole_primaire_publique}}<br>
                {% endfor %}
                {% for ecole in localite.microplan.ecole_maternel_publique%}
                {{ecole.nom_ecole_maternel_publique}}-{{ecole.contact_ecole_maternel_publique}}-{{ecole.responsible_ecole_maternel_publique}}<br>
                {% endfor %}
                {% for ecole in localite.microplan.ecole_primaire_privee%}
                {{ecole.nom_ecole_primaire_privee}}-{{ecole.contact_ecole_primaire_privee}}-{{ecole.responsible_ecole_primaire_privee}}<br>
                {% endfor %}
                {% for ecole in localite.microplan.ecole_maternel_privee%}
                {{ecole.nom_ecole_maternel_privee}}-{{ecole.contact_ecole_maternel_privee}}-{{ecole.responsible_ecole_maternel_privee}}<br>
                {% endfor %}
                {% for ecole in localite.microplan.ecole_primaire_cor%}
                {{ecole.nom_ecole_primaire_coran}}-{{ecole.contact_ecole_primaire_coran}}-{{ecole.responsible_ecole_primaire_coran}}<br>
                {% endfor %}
                {% for ecole in localite.microplan.creche_liste%}
                {{ecole.nom_creche}}-{{ecole.contact_creche}}-{{ecole.responsible_creche}}<br>
                {% endfor %}
                {% for ecole in localite.microplan.orphelinat_liste%}
                {{ecole.nom_orphelinat}}-{{ecole.contact_orphelinat}}-{{ecole.responsible_orphelinat}}<br>
                {% endfor %}
            </td>
            <td>
                {% for eglise in localite.microplan.liste_privee%}
                {{eglise.nom_eglise}}-{{eglise.telephone_eglise}}<br>
                {% endfor %}
                {% for eglise in localite.microplan.liste_mosquee%}
                {{eglise.nom_mosquee}}-{{eglise.telephone_mosquee}}<br>
                {% endfor %}
            </td>
            <td>
                {% for point in localite.microplan.passage%}
                {{point.point_passage}}<br>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>Raisons de priorisation:
        <ul>
            <li>1. Nomades; Déplacés; Réfugiés</li>
            <li>2. Routine irregulier ou inexistant</li>
            <li>3. Couverture faible des AVS precedentes</li>
            <li>4. Episodes epidemiques (Polio, Rougeole, …)</li>
            <li>5. Groupes refractaires a la vaccination</li>
            <li>6. Enfants manques lors des AVS precedentes</li>
            <li>7. Zones / Villages / Quartiers avec insecurite</li>
            <li>8. Acces géographique très difficile</li>
            <li>9. Nouveaux hameaux / Quartiers</li>
            <li>10. Zone de transit normades, déplacés, réfugiés</li>
            <li>11. Autres</li>
        </ul>
    </div>
</div>
<div class="page-break"></div>
<div id="page4">
    <h4>OUTIL 2: ANALYSE DES PROBLEMES</h4>
    <h5>Différents Problèmes Identifiés lors des Précédentes AVS( RR, FJ, TNN) et Solutions Apportées</h5>
    <table>
        <thead>
        <tr>
            <th></th>
            <th>Problemes Identifies</th>
            <th>Solutions avec Ressources Disponibles</th>
            <th>Solutions avec Ressources Additionelles</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Personnel<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></td>
            <td/>
            <td/>
            <td/>
        </tr>
        <tr>
            <td>Logistique<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></td>
            <td/>
            <td/>
            <td/>
        </tr>
        <tr>
            <td>Qualite services<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></td>
            <td/>
            <td/>
            <td/>
        </tr>
        <tr>
            <td>Gestion / Planification<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></td>
            <td/>
            <td/>
            <td/>
        </tr>
        <tr>
            <td>Supervision<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></td>
            <td/>
            <td/>
            <td/>
        </tr>
        <tr>
            <td>Donnees<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></td>
            <td/>
            <td/>
            <td/>
        </tr>
        <tr>
            <td>Mobilisation Sociale<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></td>
            <td/>
            <td/>
            <td/>
        </tr>
        </tbody>
    </table>


</div>

<div id="page4bis">
    <h4>OUTIL 3: CARTOGRAPHIE DES PARTENAIRES ET ACTEURS DE COMMUNICATION</h4>
    <table>
        <thead>
        <tr>
            <th>Type d'organisation</th>
            <th>Adresse/Siège</th>
            <th>Contact</th>
            <th>Téléphone</th>
            <th>Type d’appui attendu</th>
            <th>Activités à mener pour solliciter ce support</th>
        </tr>
        </thead>
        <tbody>
        {% for form in data.forms %}
        {% if form.form_name == "MICROPLAN - OBC"%}
        <tr>
            <td>{{ form.file_content.type_organisation}}</td>
            <td>{{ form.file_content.siege}}</td>
            <td>{{ form.file_content.responsible}}</td>
            <td>{{ form.file_content.telephone}}</td>
            <td/>
            <td/>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
<div id="page5" class="landscape">
    <h4>OUTIL 3. CARTE ET ITINERAIRE DES MOBILISATEURS SOCIAUX ET EQUIPES DE VACCINATION</h4>
    <h5>3a: ITINERAIRE DES MOBILISATEURS SOCIAUX AVANT LA CAMPAGNE</h5>
    <table>
        <thead>
        <tr>
            <th colspan="6"></th>
            <th colspan="3">Jour de mobilisation</th>
        </tr>
        </thead>
        <thead>

        <tr>
            <th>N°</th>
            <th>Localités (Village/Hameaux/Camps de réfugiés/Quartiers/Blocs/Campements, etc.)</th>
            <th>Population totale</th>
            <th>Nombre de ménages à visiter</th>
            <th>Agent mobilisateur social responsable</th>
            <th>Nombre de jour requis</th>
            <th>J1</th>
            <th>J2</th>
            <th>J3</th>
        </tr>
        </thead>
        <tbody>
        {% for i in range_20 %}
        <tr>
            <td>{{i}}<br/><br/></td>
            <td/>
            <td/>
            <td/>
            <td/>
            <td/>
            <td/>
            <td/>
            <td/>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div id="page5bis" class="landscape">
    <h4>OUTIL 3. CARTE ET ITINERAIRE DES MOBILISATEURS SOCIAUX ET EQUIPES DE VACCINATION</h4>
    <h5>3b: ITINERAIRE DES EQUIPES DE VACCINATION</h5>
    <table>
        <thead>
        <tr>
            <th colspan="6"></th>
            <th colspan="5">Jour de vaccination</th>
        </tr>
        </thead>
        <thead>

        <tr>
            <th>N°</th>
            <th>Localités (Village/Hameaux/Camps de réfugiés/Quartiers/Blocs/Campements, etc.)</th>
            <th>Population cible</th>
            <th>Stratégie de vaccination</th>
            <th>Equipe de vaccination responsable</th>
            <th>Nombre de jour requis</th>
            <th>J1</th>
            <th>J2</th>
            <th>J3</th>
            <th>J4</th>
            <th>J5</th>
        </tr>
        </thead>
        <tbody>
        {% for i in range_20 %}
        <tr>
            <td>{{i}}<br/><br/></td>
            <td/>
            <td/>
            <td/>
            <td/>
            <td/>
            <td/>
            <td/>
            <td/>
            <td/>
            <td/>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div id="page6" class="landscape">
    <h4> OUTIL 3. CARTE ET ITINERAIRE DES MOBILISATEURS SOCIAUX ET EQUIPES DE VACCINATION</h4>
    <div id="map2">
        <img src="{{ image_path }}">
    </div>
</div>
<div id="page8" class="landscape" style="font-size:0.9em">
    <h4>OUTIL 5. CHAINE DU FROID</h4>
    <table>
        <thead>
        <tr>
            <th colspan="2"></th>
            <th colspan="5">Requis</th>
            <th colspan="5">Disponible</th>
            <th colspan="5">BESOINS SUPPLEMENTAIRES</th>
        </tr>
        <tr>
            <th>N°</th>
            <th>Formation Sanitaire</th>
            <th>Réfrigérateur</th>
            <th>Glacière</th>
            <th>Porte vaccin</th>
            <th>Accumulateurs pour glacière</th>
            <th>Accumulateurs pour porte vaccin</th>
            <th>Réfrigérateur</th>
            <th>Glaçière</th>
            <th>Porte vaccin</th>
            <th>Accumulateurs pour glacière</th>
            <th>Accumulateurs pour porte vaccin</th>
            <th>Réfrigérateur</th>
            <th>Glaçière</th>
            <th>Porte vaccin</th>
            <th>Accumulateurs pour glacière</th>
            <th>Accumulateurs pour porte vaccin</th>
        </tr>
        </thead>
        <tbody>
        {% for fosa in data.fosas %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{fosa.name}}</td>
            <td/>
            <td/>
            <td/>
            <td/>
            <td/>
            <td>{{fosa.cold_chain.qte_ecdf}}</td>
            <td>{{fosa.cold_chain.qte_glaciere}}</td>
            <td>{{fosa.cold_chain.qte_pv}}</td>
            <td> {{ fosa.cold_chain.nbre_accumulateur_glaciere + fosa.cold_chain.nbre_accumulateur_pv3}}</td>
            <!-- using nbre_accumulateur_pv3 looks like a mistake, but it's actually due to a misnamed question in the odk form -->
            <td> {{ fosa.cold_chain.nbre_accumulateur_pv }}</td>
            <td/>
            <td/>
            <td/>
            <td/>
            <td/>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
</body>
</html>

