<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Report</title>
    <style>
        /* Set full width for the map */
        html {
            font-size: 10px;
        }

        #map {
            padding-top: 10px;
            text-align: center;
        }

        #map img {
            max-width: 100%;
            max-height: 550px;
        }

        #map2 img {
            max-width: 100%;
            max-height: 600px;
        }

        .container {
            display: flex;
            justify-content: space-between;
            height: 120px;
            padding: 20px;
        }

        .box {
            width: 150px;
            height: 100px;
            font-size: 0.9em;
            text-align: center
        }

        .mainTitle {
            padding: 1px 0px;
            text-align: center;
        }

        .page-break {
            page-break-before: always;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 2px 8px;
            text-align: left;
        }

        th {
            background-color: darkred;
            color: white;
        }

        @media print {
            @page landscape {
                size: landscape;
            }

            .landscape {
                page: landscape;
            }
        }
    </style>
</head>
<body>
<div id="page1">
    <div class="container">
        <div class="box">
            REPUBLIQUE DU CAMEROUN <br/>
            Paix – Travail - Patrie <br/>
            ---------------<br/>
            MINISTERE DE LA SANTE PUBLIQUE<br/>
            ------------------<br/>
            PROGRAMME ELARGI DE VACCINATION<br/>
            ------------------
        </div>
        <div class="box">
            <img src="references/logo.png" style="width:100px">
        </div>
        <div class="box">
            REPUBLIC OF CAMEROON<br/>
            Peace – Work – Fatherland<br/>
            ---------------<br/>
            MINISTRY OF PUBLIC HEALTH <br/>
            ------------------<br/>
            EXPANDED PROGRAMME ON IMMUNIZATION<br/>
            ------------------
        </div>

    </div>
    <div style="background-color: darkred; color:white;" class="mainTitle"><h4>{% trans %}CAMPAGNE DE VACCINATION CONTRE LA
        ROUGEOLE ET RUBEOLE MAI 2023{% endtrans %}</h4></div>
    <div class="mainTitle"><h4>{% trans %}MICROPLAN{%endtrans%}</h4></div>
    <div>

        <table>
            <tr>
                <td style="text-align: right;">{% trans %}Date de mise à jour{% endtrans %}</td>
                <td><strong>{{ date_str }}</strong></td>
            </tr>
            <tr>
                <td style="text-align: right;">{% trans %}Région{% endtrans %}</td>
                <td><strong>{{data.as.parent.parent.name}}</strong></td>
            </tr>
            <tr>
                <td style="text-align: right;">{% trans %}District{% endtrans %}</td>
                <td><strong>{{data.as.parent.name}}</strong></td>
            </tr>
            <tr>
                <td style="text-align: right;">{% trans %}Aire de santé{% endtrans %}</td>
                <td><strong>{{data.as.name}}</strong></td>
            </tr>
            <tr>
                <td style="text-align: right;">{% trans %}FORMATION SANITAIRE LEADER{% endtrans %}</td>
                <td><strong>{{data.fosa_leader_instance.org_unit.name}}</strong></td>
            </tr>
            <tr>
                <td style="text-align: right;">{% trans %}NOM DU RESPONSABLE DE L'AIRE DE SANTE{% endtrans %}</td>
                <td><strong>{{data.fosa_leader_instance.file_content.responsable_fosa}}</strong></td>
            </tr>
            <tr>
                <td style="text-align: right;">{% trans %}CONTACT DU RESPONSABLE DE L'AIRE{% endtrans %}</td>
                <td><strong>{{data.fosa_leader_instance.file_content.tel_responsable_fosa}}</strong></td>
            </tr>
            <tr>
                <td style="text-align: right;">{% trans %}NOMBRE DE FORMATION SANITAIRE{% endtrans %}</td>
                <td><strong>{{count_fosa}}</strong></td>
            </tr>
            <tr>
                <td style="text-align: right;">{% trans %}NOMBRE DE LOCALITES DANS L'AIRE DE SANTE{% endtrans %}</td>
                <td><strong>{{count_localite}}</strong></td>
            </tr>
            <tr>
                <td style="text-align: right;">{% trans %}DISTANCE DE LA FORMATION SANITAIRE LEADER AU SERVICE SANTÉ DE DISTRICT{% endtrans %}
                    (km)
                </td>
                <td><strong></strong></td>
            </tr>
        </table>
    </div>
    <div id="map">
        <img src="{{ image_path }}">
    </div>
</div>
<div class="page-break"></div>
<div id="page2">
    <h4>{% trans %}Formations Sanitaires{% endtrans %}</h4>
    <table>
        <thead>
        <tr>
            <th>N°</th>
            <th>{% trans %}FORMATION SANITAIRE{% endtrans %}</th>
            <th>{% trans %}Distance par rapport au District{% endtrans %}</th>
            <th>{% trans %}Distance par rapport à la FOSA leader{% endtrans %}</th>
            <th>{% trans %}Catégorie{% endtrans %}</th>
            <th>{% trans %}Type{% endtrans %}</th>
            <th>{% trans %}Offre les services de vaccination (Oui/Non){% endtrans %}</th>
            <th>{% trans %}Nom du Responsable{% endtrans %}</th>
            <th>{% trans %}Tel contact{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for fosa in data.fosas %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{fosa.name}}</td>
            <td>{{fosa.donnees_fosa.distance_fosa_ssd}}</td>
            <td>{{fosa.donnees_fosa.distance_fosa_pilote}}</td>
            <td>{{fosa.donnees_fosa.type_acces_ssd}}</td>
            <td>{{fosa.donnees_fosa.statut_fosa}}</td>
            <td>{{fosa.donnees_fosa.fosa_vaccine}}</td>
            <td>{{fosa.donnees_fosa.responsable_fosa}}</td>
            <td>{{fosa.donnees_fosa.tel_responsable_fosa}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div id="page3" class="landscape">
    <h4>{% trans %}OUTIL 1b: LISTE DES LOCALITES{% endtrans %}</h4>
    <table>
        <thead>
        <tr>
            <th colspan="8"></th>
            <th colspan="5">{% trans %}Lieux regroupement{% endtrans %}</th>
        </tr>
        </thead>
        <thead>

        <tr>
            <th>N°</th>
            <th>{% trans %}Localités (Village/Hameaux/Camps de réfugiés/Quartiers/Blocs/Campements, etc.){% endtrans %}</th>
            <th>{% trans %}Distance à la FOSA qui vaccine la plus proche.{% endtrans %}</th>
            <th>{% trans %}Localité de haute attention (oui/non){% endtrans %}</th>
            <th>{% trans %}Raison de priorisation{% endtrans %}</th>
            <th>{% trans %}Population Totale{% endtrans %}</th>
            <th>{% trans %}Pop. Cible (9mois-59 mois){% endtrans %}</th>
            <th>{% trans %}Marchés{% endtrans %}</th>
            <th>{% trans %}Ecoles primaires, maternelles et coraniques){% endtrans %}</th>
            <th>{% trans %}Eglises /Mosquées{% endtrans %}</th>
            <th>{% trans %}Points de passage{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for localite in data.localites %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{localite.name}}</td>
            <td></td>
            <td>{{localite.microplan.localite_haute_tension}}</td>
            <td>{{localite.microplan.raison_haute_attention}}</td>
            <td>{{localite.microplan.population_denombre| int}}</td>
            <td>{{((localite.microplan.population_polio_0_59 |int) * 0.83 )| int}}</td>
            <td>{% for marche in localite.microplan.marche_localite%} {{marche.nom_marche}} {% endfor %}</td>
            <td>
                {% for ecole in localite.microplan.ecole_primaire_publique%}
                {{ecole.nom_ecole_primaire_publique}}-{{ecole.contact_ecole_primaire_publique}}-{{ecole.responsible_ecole_primaire_publique}}<br>
                {% endfor %}
                {% for ecole in localite.microplan.ecole_maternel_publique%}
                {{ecole.nom_ecole_maternel_publique}}-{{ecole.contact_ecole_maternel_publique}}-{{ecole.responsible_ecole_maternel_publique}}<br>
                {% endfor %}
                {% for ecole in localite.microplan.ecole_primaire_privee%}
                {{ecole.nom_ecole_primaire_privee}}-{{ecole.contact_ecole_primaire_privee}}-{{ecole.responsible_ecole_primaire_privee}}<br>
                {% endfor %}
                {% for ecole in localite.microplan.ecole_maternel_privee%}
                {{ecole.nom_ecole_maternel_privee}}-{{ecole.contact_ecole_maternel_privee}}-{{ecole.responsible_ecole_maternel_privee}}<br>
                {% endfor %}
                {% for ecole in localite.microplan.ecole_primaire_cor%}
                {{ecole.nom_ecole_primaire_coran}}-{{ecole.contact_ecole_primaire_coran}}-{{ecole.responsible_ecole_primaire_coran}}<br>
                {% endfor %}
                {% for ecole in localite.microplan.creche_liste%}
                {{ecole.nom_creche}}-{{ecole.contact_creche}}-{{ecole.responsible_creche}}<br>
                {% endfor %}
                {% for ecole in localite.microplan.orphelinat_liste%}
                {{ecole.nom_orphelinat}}-{{ecole.contact_orphelinat}}-{{ecole.responsible_orphelinat}}<br>
                {% endfor %}
            </td>
            <td>
                {% for eglise in localite.microplan.liste_privee%}
                {{eglise.nom_eglise}}-{{eglise.telephone_eglise}}<br>
                {% endfor %}
                {% for eglise in localite.microplan.liste_mosquee%}
                {{eglise.nom_mosquee}}-{{eglise.telephone_mosquee}}<br>
                {% endfor %}
            </td>
            <td>
                {% for point in localite.microplan.passage%}
                {{point.point_passage}}<br>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>{% trans %}Raisons de priorisation:{% endtrans %}
        <ul>
            <li>1.{% trans %} Nomades; Déplacés; Réfugiés{% endtrans %}</li>
            <li>2. {% trans %}Routine irregulier ou inexistant{% endtrans %}</li>
            <li>3. {% trans %}Couverture faible des AVS precedentes{% endtrans %}</li>
            <li>4. {% trans %}Episodes epidemiques (Polio, Rougeole, …){% endtrans %}</li>
            <li>5. {% trans %}Groupes refractaires a la vaccination{% endtrans %}</li>
            <li>6. {% trans %}Enfants manques lors des AVS precedentes{% endtrans %}</li>
            <li>7. {% trans %}Zones / Villages / Quartiers avec insecurite{% endtrans %}</li>
            <li>8. {% trans %}Acces géographique très difficile{% endtrans %}</li>
            <li>9. {% trans %}Nouveaux hameaux / Quartiers{% endtrans %}</li>
            <li>10. {% trans %}Zone de transit normades, déplacés, réfugiés{% endtrans %}</li>
            <li>11. {% trans %}Autres{% endtrans %}</li>
        </ul>
    </div>
</div>
<div class="page-break"></div>
<div id="page4">
    <h4>{% trans %}OUTIL 2: ANALYSE DES PROBLEMES{% endtrans %}</h4>
    <h5>{% trans %}Différents Problèmes Identifiés lors des Précédentes AVS( RR, FJ, TNN) et Solutions Apportées{% endtrans %}</h5>
    <table>
        <thead>
        <tr>
            <th></th>
            <th>{% trans %}Problemes Identifies{% endtrans %}</th>
            <th>{% trans %}Solutions avec Ressources Disponibles{% endtrans %}</th>
            <th>{% trans %}Solutions avec Ressources Additionelles{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{% trans %}Personnel{% endtrans %}<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></td>
            <td/>
            <td/>
            <td/>
        </tr>
        <tr>
            <td>{% trans %}Logistique{% endtrans %}<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></td>
            <td/>
            <td/>
            <td/>
        </tr>
        <tr>
            <td>{% trans %}Qualite services{% endtrans %}<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></td>
            <td/>
            <td/>
            <td/>
        </tr>
        <tr>
            <td>{% trans %}Gestion / Planification{% endtrans %}<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></td>
            <td/>
            <td/>
            <td/>
        </tr>
        <tr>
            <td>{% trans %}Supervision{% endtrans %}<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></td>
            <td/>
            <td/>
            <td/>
        </tr>
        <tr>
            <td>{% trans %}Donnees{% endtrans %}<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></td>
            <td/>
            <td/>
            <td/>
        </tr>
        <tr>
            <td>{% trans %}Mobilisation Sociale{% endtrans %}<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></td>
            <td/>
            <td/>
            <td/>
        </tr>
        </tbody>
    </table>


</div>

<div id="page4bis">
    <h4>{% trans %}OUTIL 3: CARTOGRAPHIE DES PARTENAIRES ET ACTEURS DE COMMUNICATION{% endtrans %}</h4>
    <table>
        <thead>
        <tr>
            <th>{% trans %}Type d'organisation{% endtrans %}</th>
            <th>{% trans %}Adresse/Siège{% endtrans %}</th>
            <th>{% trans %}Contact{% endtrans %}</th>
            <th>{% trans %}Téléphone{% endtrans %}</th>
            <th>{% trans %}Type d’appui attendu{% endtrans %}</th>
            <th>{% trans %}Activités à mener pour solliciter ce support{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for form in data.forms %}
        {% if form.form_name == "MICROPLAN - OBC"%}
        <tr>
            <td>{{ form.file_content.type_organisation}}</td>
            <td>{{ form.file_content.siege}}</td>
            <td>{{ form.file_content.responsible}}</td>
            <td>{{ form.file_content.telephone}}</td>
            <td/>
            <td/>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
<div id="page5" class="landscape">
    <h4>{% trans %}OUTIL 3. CARTE ET ITINERAIRE DES MOBILISATEURS SOCIAUX ET EQUIPES DE VACCINATION{% endtrans %}</h4>
    <h5>{% trans %}3a: ITINERAIRE DES MOBILISATEURS SOCIAUX AVANT LA CAMPAGNE{% endtrans %}</h5>
    <table>
        <thead>
        <tr>
            <th colspan="6"></th>
            <th colspan="3">{% trans %}Jour de mobilisation{% endtrans %}</th>
        </tr>
        </thead>
        <thead>

        <tr>
            <th>N°</th>
            <th>{% trans %}Localités (Village/Hameaux/Camps de réfugiés/Quartiers/Blocs/Campements, etc.){% endtrans %}</th>
            <th>{% trans %}Population totale{% endtrans %}</th>
            <th>{% trans %}Nombre de ménages à visiter{% endtrans %}</th>
            <th>{% trans %}Agent mobilisateur social responsable{% endtrans %}</th>
            <th>{% trans %}Nombre de jour requis{% endtrans %}</th>
            <th>{% trans %}J1{% endtrans %}</th>
            <th>{% trans %}J2{% endtrans %}</th>
            <th>{% trans %}J3{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for i in range_20 %}
        <tr>
            <td>{{i}}<br/><br/></td>
            <td/>
            <td/>
            <td/>
            <td/>
            <td/>
            <td/>
            <td/>
            <td/>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div id="page5bis" class="landscape">
    <h4>{% trans %}OUTIL 3. CARTE ET ITINERAIRE DES MOBILISATEURS SOCIAUX ET EQUIPES DE VACCINATION{% endtrans %}</h4>
    <h5>{% trans %}3b: ITINERAIRE DES EQUIPES DE VACCINATION{% endtrans %}</h5>
    <table>
        <thead>
        <tr>
            <th colspan="6"></th>
            <th colspan="5">{% trans %}Jour de vaccination{% endtrans %}</th>
        </tr>
        </thead>
        <thead>

        <tr>
            <th>{% trans %}N°{% endtrans %}</th>
            <th>{% trans %}Localités (Village/Hameaux/Camps de réfugiés/Quartiers/Blocs/Campements, etc.){% endtrans %}</th>
            <th>{% trans %}Population cible{% endtrans %}</th>
            <th>{% trans %}Stratégie de vaccination{% endtrans %}</th>
            <th>{% trans %}Equipe de vaccination responsable{% endtrans %}</th>
            <th>{% trans %}Nombre de jour requis{% endtrans %}</th>
            <th>{% trans %}J1{% endtrans %}</th>
            <th>{% trans %}J2{% endtrans %}</th>
            <th>{% trans %}J3{% endtrans %}</th>
            <th>{% trans %}J4{% endtrans %}</th>
            <th>{% trans %}J5{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for i in range_20 %}
        <tr>
            <td>{{i}}<br/><br/></td>
            <td/>
            <td/>
            <td/>
            <td/>
            <td/>
            <td/>
            <td/>
            <td/>
            <td/>
            <td/>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div id="page6" class="landscape">
    <h4> {% trans %}OUTIL 3. CARTE ET ITINERAIRE DES MOBILISATEURS SOCIAUX ET EQUIPES DE VACCINATION{% endtrans %}</h4>
    <div id="map2">
        <img src="{{ image_path }}">
    </div>
</div>
<div id="page7" class="landscape">
    <h4>{% trans %}OUTIL 4. RESSOURCES HUMAINES{% endtrans %}</h4>
    <table>
        <thead>
        <tr>
            <th>{% trans %}N°{% endtrans %}</th>
            <th>{% trans %}Formation Sanitaire{% endtrans %}</th>
            <th>{% trans %}Diplôme{% endtrans %}</th>
            <th>{% trans %}Grade{% endtrans %}</th>
            <th>{% trans %}Age{% endtrans %}</th>
            <th>{% trans %}Formation Vacc.{% endtrans %}</th>
            <th>{% trans %}Nom{% endtrans %}</th>
            <th>{% trans %}Téléphone{% endtrans %}</th>
        </tr>

        </thead>
        <tbody>
        {% for fosa in data.fosas %}
        {% for p in fosa.personnel.personnel_fosa %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{fosa.name}}</td>
            <td>{{p.diplome}}</td>
            <td>{{p.grade_personnel}}</td>
            <td>{{p.age_personnel}}</td>
            <td>{{p.formation_vaccination_pratique}}</td>
            <td>{{p.nom_personnel}}</td>
            <td>{{p.tel_personnel}}</td>
        </tr>
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>
<div id="page8" class="landscape page-break" style="font-size:0.8em">
    <h4>{% trans %}OUTIL 5. CHAINE DU FROID{% endtrans %}</h4>
    <table>
        <thead>
        <tr>
            <th colspan="2"></th>
            <th colspan="5">{% trans %}Requis{% endtrans %}</th>
            <th colspan="5">{% trans %}Disponible{% endtrans %}</th>
            <th colspan="5">{% trans %}BESOINS SUPPLEMENTAIRES{% endtrans %}</th>
        </tr>
        <tr>
            <th>{% trans %}N°{% endtrans %}</th>
            <th>{% trans %}Formation Sanitaire{% endtrans %}</th>
            <th>{% trans %}Réfrigérateur{% endtrans %}</th>
            <th>{% trans %}Glacière{% endtrans %}</th>
            <th>{% trans %}Porte vaccin{% endtrans %}</th>
            <th>{% trans %}Accumulateurs pour glacière{% endtrans %}</th>
            <th>{% trans %}Accumulateurs pour porte vaccin{% endtrans %}</th>
            <th>{% trans %}Réfrigérateur{% endtrans %}</th>
            <th>{% trans %}Glaçière{% endtrans %}</th>
            <th>{% trans %}Porte vaccin{% endtrans %}</th>
            <th>{% trans %}Accumulateurs pour glacière{% endtrans %}</th>
            <th>{% trans %}Accumulateurs pour porte vaccin{% endtrans %}</th>
            <th>{% trans %}Réfrigérateur{% endtrans %}</th>
            <th>{% trans %}Glaçière{% endtrans %}</th>
            <th>{% trans %}Porte vaccin{% endtrans %}</th>
            <th>{% trans %}Accumulateurs pour glacière{% endtrans %}</th>
            <th>{% trans %}Accumulateurs pour porte vaccin{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for fosa in data.fosas %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{fosa.name}}</td>
            <td/>
            <td/>
            <td/>
            <td/>
            <td/>
            <td>{{fosa.cold_chain.qte_ecdf}}</td>
            <td>{{fosa.cold_chain.qte_glaciere}}</td>
            <td>{{fosa.cold_chain.qte_pv}}</td>
            <td> {{ fosa.cold_chain.nbre_accumulateur_glaciere + fosa.cold_chain.nbre_accumulateur_pv3}}</td>
            <!-- using nbre_accumulateur_pv3 looks like a mistake, but it's actually due to a misnamed question in the odk form -->
            <td> {{ fosa.cold_chain.nbre_accumulateur_pv }}</td>
            <td/>
            <td/>
            <td/>
            <td/>
            <td/>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
</body>
</html>

